<!DOCTYPE HTML>
<html>

<title>~ Que la chasse aux oeufs commence ! ~ </title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/paques.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<script src="{{url_for('static', filename='js/paques.js')}}"></script>
<script src="{{url_for('static', filename='js/circleText.js')}}"></script>
<div class="main-conteneur">
    <div class="conteneur">
        <div class="main_title" id="joli_titre">
            ~ Bienvenu dans notre chasse aux oeufs ! ~
        </div>

        <div class="easter-animation">
            <div class="chick">
                <div class="beak"></div>
            </div>
            <div class="back-flower">
                <div class="daisy">
                    <div class="flower"></div>
                </div>
            </div>
            <div class="egg">
                <div class="shell"></div>
            </div>
            <div class="egg-top">
                <div class="shell-top"></div>
            </div>
            <div class="daisy">
                <div class="flower"></div>
            </div>
            <div class="grass"></div>
            <p class="text">Cliquer sur l'oeuf c'est cool</p>
        </div>
    </div>
    <!-- <div class="lapin-b"> -->

    <!-- <div class="buisson"><img src="https://www.beaucerc.com/sites/24519/realisations/PDZA/PFNL/arbustes.png"></img> -->
    <!-- </div> -->

    <div class="lapin">
        <div class="rabbit"></div>
    </div>
</div>

<div class="leaf">
    <div><img src="{{ url_for('static', filename='img/oeuf1.png') }}" height="75px" width="75px"></img>
    </div>
    <div><img src="https://wallpapercave.com/wp/wp8790300.png" height="75px" width="55px"></img>
    </div>
    <div><img src="{{ url_for('static', filename='img/oeuf4.png') }}" height="75px" width="75px"></img>
    </div>
    <div></div>
    <div><img src="https://cdn.pixabay.com/photo/2016/04/12/17/16/easter-egg-1324878_1280.png" height="75px" width="60px"></img>
    </div>
    <div><img src="{{ url_for('static', filename='img/oeuf2.png') }}" height="75px" width="75px"></img>
    </div>
    <div><img src="https://www.pngrepo.com/png/235342/512/easter-egg-easter.png" height="75px" width="75px"></div>
    <div><img src="https://freesvg.org/img/Magenta-Easter-Egg.png" height="75px" width="75px"></div>
    <div class="surprise"><img src="https://www.publicdomainpictures.net/pictures/290000/nahled/colorful-easter-egg-png.png" height="75px" width="75px"></div>
    <!--  <div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="75px" width="75px"></div>
            -->
</div>

<div class="leaf leaf1">
    <div> <img src="{{ url_for('static', filename='img/oeuf1.png') }}" height="75px" width="75px"></img>
    </div>
    <div><img src="https://wallpapercave.com/wp/wp8790300.png" height="75px" width="55px"></img>
    </div>
    <div> <img src="{{ url_for('static', filename='img/oeuf4.png') }}" height="75px" width="75px"></img>
    </div>
    <div></div>
    <div><img src="https://cdn.pixabay.com/photo/2016/04/12/17/16/easter-egg-1324878_1280.png" height="75px" width="60px"></img>
    </div>
    <div><img src="{{ url_for('static', filename='img/oeuf2.png') }}" height="75px" width="75px"></img>
    </div>
    <div><img src="https://www.pngrepo.com/png/235342/512/easter-egg-easter.png" height="75px" width="75px"></div>
    <div><img src="https://freesvg.org/img/Magenta-Easter-Egg.png" height="75px" width="75px"></div>
    <div class="surprise"><img src="https://www.publicdomainpictures.net/pictures/290000/nahled/colorful-easter-egg-png.png" height="75px" width="75px"></div>
    <!--<div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="75px" width="75px"></div>
            -->
</div>

<div class="leaf leaf2">
    <div><img src="{{ url_for('static', filename='img/oeuf1.png') }}" height="75px" width="75px"> </img>
    </div>
    <div><img src="https://wallpapercave.com/wp/wp8790300.png" height="75px" width="55px"></img>
    </div>
    <div><img src="{{ url_for('static', filename='img/oeuf4.png') }}" height="75px" width="75px"></img>
    </div>
    <div></div>
    <div><img src="https://cdn.pixabay.com/photo/2016/04/12/17/16/easter-egg-1324878_1280.png" height="75px" width="60px"></img>
    </div>
    <div><img src="{{ url_for('static', filename='img/oeuf2.png') }}" height="75px" width="75px"></img>
    </div>
    <div><img src="https://www.pngrepo.com/png/235342/512/easter-egg-easter.png" height="75px" width="75px"></div>
    <div><img src="https://freesvg.org/img/Magenta-Easter-Egg.png" height="75px" width="75px"></div>
    <div class="surprise"><img src="https://www.publicdomainpictures.net/pictures/290000/nahled/colorful-easter-egg-png.png" height="75px" width="75px"></div>
</div>

</html>
<style>

</style>
<script>
</script>