<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Paques</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="{{url_for('static', filename='btsp/css/font-awesome.min.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--bootstrap css-->
    <link rel="stylesheet" href="{{url_for('static', filename='btsp/css/bootstrap.min.css')}}">
    <!--animate css-->
    <link rel="stylesheet" href="{{url_for('static', filename='btsp/css/animate-wow.css')}}">
    <!--main css-->
    <link rel="stylesheet" href="{{url_for('static', filename='btsp/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='btsp/css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='btsp/css/slick.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='btsp/css/select2.min.css')}}">
    <!--responsive css-->
    <link rel="stylesheet" href="{{url_for('static', filename='btsp/css/responsive.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/testcss.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="{{url_for('static', filename='js/paques2merde.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
</head>

<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a href="#" class="navbar-brand">LisaIsAwesome.COM</a>
                    </div>

                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/accueil">
                                    <i class="fa-solid fa-egg"></i>
                                    <span>Accueil</span>
                                    <i class="fa-solid fa-egg"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/shop">
                                    <i class="fa-solid fa-egg"></i>
                                    <span>Magasin</span>
                                    <i class="fa-solid fa-egg"></i>
                                </a>
                            </li>
                            <li><a href="#">Welcome</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Sign Up</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content-product">
        <div class="main-product">
            <div class="container">
                <h2 style=" font-family: easter-egg;">Echange tes points <br>contre des chocolats</h2>
                <details>
                    <summary>
                        <div class="col-lg-3 col-sm-6 col-md-3">
                            <!-- <a href="productpage.html"> -->
                            <div class="box-img">
                                <h4>Choco1</h4>
                                <img src="{{ url_for('static', filename='btsp/images/product/4.png')}}" alt="" />
                            </div>
                            <!-- </a> -->
                        </div>

                        <div class="details-modal-overlay"></div>
                    </summary>
                    <div class="details-modal">
                        <div class="details-modal-close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
                        </svg>
                        </div>
                        <div class="details-modal-title">
                            <h1 style=" font-family: easter-egg; font-size: xx-large; color: #632a1c;">Choco1</h1>
                        </div>
                        <div class="details-modal-content">
                            <div class="modal-lisa">
                                <div style="align-items: center;"><img src="{{ url_for('static', filename='btsp/images/product/10.png')}}" alt="" /></div>
                                <p>
                                    You can click the X in the corner or click the overlay to close this modal. Something like this could be useful as a nice way to show additional information, but that's about as far as I would take it. It's just a nice way of styling the details element.
                                </p>
                            </div>
                            <div class="modal-lisa">
                                <label for="number_choc">Nombre de chocolats :</label>
                                <input type="number" id="nb_choc" name="nb_choc" min="0" max="10">
                                <div class="button">
                                    Valider
                                </div>
                            </div>
                        </div>
                    </div>
                </details>
                <details>
                    <summary>
                        <div class="col-lg-3 col-sm-6 col-md-3">
                            <!-- <a href="productpage.html"> -->
                            <div class="box-img">
                                <h4>Choco2</h4>
                                <img src="{{ url_for('static', filename='btsp/images/product/5.png')}}" alt="" />
                            </div>
                        </div>

                        <div class="details-modal-overlay"></div>
                    </summary>
                    <div class="details-modal">
                        <div class="details-modal-close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
                        </svg>
                        </div>
                        <div class="details-modal-title">
                            <h1 style=" font-family:easter-egg; font-size:  xx-large; color: #632a1c;">Choco2</h1>
                        </div>
                        <div class="details-modal-content">
                            <div class="modal-lisa">
                                <div style="align-items: center;"><img src="{{ url_for('static', filename='btsp/images/product/10.png')}}" alt="" /></div>
                                <p>
                                    You can click the X in the corner or click the overlay to close this modal. Something like this could be useful as a nice way to show additional information, but that's about as far as I would take it. It's just a nice way of styling the details element.
                                </p>
                            </div>
                            <div class="modal-lisa">
                                <label for="number_choc">Nombre de chocolats :</label>
                                <input type="number" id="nb_choc" name="nb_choc" min="0" max="10">
                                <div class="button">
                                    Valider
                                </div>
                            </div>
                        </div>
                    </div>
                </details>
                <details>
                    <summary>
                        <div class="col-lg-3 col-sm-6 col-md-3">
                            <div class="box-img">
                                <h4>Choco3</h4>
                                <img src="{{ url_for('static', filename='btsp/images/product/10.png')}}" alt="" />
                            </div>
                        </div>

                        <div class="details-modal-overlay"></div>
                    </summary>
                    <div class="details-modal">
                        <div class="details-modal-close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
                        </svg>
                        </div>
                        <div class="details-modal-title">
                            <h1 style=" font-family:easter-egg; font-size:  xx-large; color: #632a1c;">Choco3</h1>
                        </div>
                        <div class="details-modal-content">
                            <div class="modal-lisa">
                                <div style="align-items: center;"><img src="{{ url_for('static', filename='btsp/images/product/10.png')}}" alt="" /></div>
                                <p>
                                    You can click the X in the corner or click the overlay to close this modal. Something like this could be useful as a nice way to show additional information, but that's about as far as I would take it. It's just a nice way of styling the details element.
                                </p>
                            </div>
                            <div class="modal-lisa">
                                <label for="number_choc">Nombre de chocolats :</label>
                                <input type="number" id="nb_choc" name="nb_choc" min="0" max="10">
                                <div class="button">
                                    Valider
                                </div>
                            </div>
                        </div>

                    </div>
                </details>
                <details>
                    <summary>
                        <div class="col-lg-3 col-sm-6 col-md-3">
                            <div class="box-img">
                                <h4>Choco4</h4>
                                <img src="{{ url_for('static', filename='btsp/images/product/10.png')}}" alt="" />
                            </div>
                        </div>

                        <div class="details-modal-overlay"></div>
                    </summary>
                    <div class="details-modal">
                        <div class="details-modal-close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
                        </svg>
                        </div>
                        <div class="details-modal-title">
                            <h1 style=" font-family:easter-egg; font-size:  xx-large; color: #632a1c;">Choco4</h1>
                        </div>
                        <div class="details-modal-content">
                            <div class="modal-lisa">
                                <div style="align-items: center;"><img src="{{ url_for('static', filename='btsp/images/product/10.png')}}" alt="" /></div>
                                <p>
                                    You can click the X in the corner or click the overlay to close this modal. Something like this could be useful as a nice way to show additional information, but that's about as far as I would take it. It's just a nice way of styling the details element.
                                </p>
                            </div>
                            <div class="modal-lisa">
                                <label for="number_choc">Nombre de chocolats :</label>
                                <input type="number" id="nb_choc" name="nb_choc" min="0" max="10">
                                <div class="button">
                                    Valider
                                </div>
                            </div>
                        </div>

                    </div>
                </details>
                <!--main js-->
                <script src="js/jquery-1.12.4.min.js"></script>
                <!-- bootstrap js-->
                <!-- <script src="js/bootstrap.min.js"></script>
                <script src="js/bootstrap-select.min.js"></script>
                <script src="js/slick.min.js"></script>
                <script src="js/wow.min.js"></script> -->
                <!--custom js-->
                <!-- <script src="js/custom.js"></script> -->-->
</body>
<!--main js-->
<script src="{{url_for('static', filename='btsp/js/jquery-1.12.4.min.js')}}"></script>
<!--bootstrap js-->
<script src="{{url_for('static', filename='btsp/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='btsp/js/bootstrap-select.min.js')}}"></script>
<script src="{{url_for('static', filename='btsp/js/slick.min.js')}}"></script>
<script src="{{url_for('static', filename='btsp/js/select2.full.min.js')}}"></script>
<script src="{{url_for('static', filename='btsp/js/wow.min.js')}}"></script>
<!--custom js-->
<script src="{{url_for('static', filename='btsp/js/custom.js')}}"></script>


</html>