<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/paques.css')}}">
<!-- <script src="{{url_for('static', filename='paques.js')}}"></script> -->
<script src="{{url_for('static', filename='circleText.js')}}"></script>
<script src="{{url_for('static', filename='paques2merde.js')}}"></script>
<div class="container blague" id="1" hidden>
    <div id="blague1" class="video_fun"><video width="520" height="440" muted autoplay loop>
      <source src="{{url_for('static', filename='video/video1.mp4')}}" type=video/mp4> 
    </video></div>
    <div class="retour" hidden>Retour à la page précédente</div>
</div>
<div class="container blague" id="2" hidden>
    <div id="blague2" class="video_fun"><video width="440" height="520" muted autoplay loop>
    <source src="{{url_for('static', filename='video/video2.mp4')}}" type=video/mp4> 
  </video></div>
    <div class="retour" hidden>Retour à la page précédente</div>
</div>
<div class="container blague" id="3" hidden>
    <div id="blague2" class="video_fun"><video width="440" height="520" muted autoplay loop>
  <source src="{{url_for('static', filename='video/video3.mp4')}}" type=video/mp4> 
  </video></div>
    <div class="retour" hidden>Retour à la page précédente</div>
</div>
<div class="container blague" id="4" hidden>
    <div id="blague2" class="video_fun"><video width="440" height="520" muted autoplay loop>
<source src="{{url_for('static', filename='video/video4.mp4')}}" type=video/mp4> 
</video></div>
    <div class="retour" hidden>Retour à la page précédente</div>
</div>
<div class="container blague" id="5" hidden>
    <div id="blague2" class="video_fun"><video width="440" height="520" muted autoplay loop>
<source src="{{url_for('static', filename='video/video5.mp4')}}" type=video/mp4> 
</video></div>
    <div class="retour" hidden>Retour à la page précédente</div>
</div>